#map { 
  height: 50vh;
  width: 100%; 
}

.mapWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
  
.leaflet-container {
  width: auto;
  height: 50vh;
  margin: auto;
}

.carsList {
  border: 1px solid #4e7bd4;
  min-width: 300px;
  height: 100%;
  text-align: center;
  z-index: 101;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #map { 
    height: 80vh;
  }
  .mapWrapper {
    flex-direction: row;
  }
  .leaflet-container {
    height: 100vh;
  }
  
}
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {... */