@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Open+Sans:wght@300;500&display=swap');

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.carsList {
    background: #9c9c9c48; 
    border: 1px solid #ccc;
    text-align: center;
    color: rgb(218, 144, 53);
    margin: auto;
    max-width: 50%;
}

#map { 
  height: 50vh;
  width: 50%; 
}

.leaflet-container {
    width: auto;
    height: 50vh;
}